// $color: #7d47bd;
$color: #312c51;
$red: #ff0000;
$background: #27272f;
$black: #000;
$white: #fff;

.mainbar {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .app-bar {
    height: 9vh;
  }
  .mainbar-content,
  div[role="presentation"] {
    display: flex;
    height: 91vh;
  }
  .mainbar-content.child {
    height: 100%;
  }
  .mainbar-content:not(.topic-box),
  div[role="presentation"] {
    align-items: center;
    padding: 16px;
    overflow-y: auto;
    flex-direction: column;
  }
}
div[role="presentation"] {
  width: 100%;
}
.not-published {
  background-color: $red !important;
}

.chapter-settings,
.content-items,
.app-preview {
  height: 100%;
}

.chapter-settings,
.content-items {
  width: 24%;
}

.app-preview {
  width: 32%;
}

.app-preview.inactive {
  width: 24%;
}

.topic-container {
  flex: 1;
  height: 100%;
  div[role="presentation"] {
    width: 98%;
  }
}

.topic-content-type {
  cursor: pointer;
  width: auto !important;
  justify-content: center;
  align-items: center;
  flex: 1;
  p {
    font-size: 1.2rem;
    font-style: italic;
  }
}

.topic-content-type.active {
  border: 2px solid rgb(0, 132, 255);
}

.message-container {
  display: flex;
  border-radius: 4px;
  // width: "auto";
  margin: 16px 8px;
  // flex: 1;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  // background-color: #c1c1c1;
  width: 100%;

  .message-icon {
    display: flex;
    align-self: center;
    margin: 0 16px;
    svg {
      height: 48px;
      width: 48px;
    }
  }
  padding: 16px 16px 16px 0;
  .message-body {
    flex: 1;
    // width: 72%;
    display: flex;
    // flex-grow: 1;
    flex-direction: column;
    .posted-by {
      color: $black;
      // font-weight: bold;
      font-size: 1.2rem;
      img {
        height: 120px;
      }
    }
    .message {
      font-size: 0.8rem;
      color: $black;
      flex: 1;
      margin-top: 8px;
      overflow-wrap: anywhere;
    }
    .message-action {
      display: flex;
      // margin-top: 8px;
      // justify-content: flex-end;
      align-items: flex-end;
      // flex-direction: column;
      margin-top: 12px;
      button,
      svg {
        margin-right: 16px;
      }
      svg {
        margin-left: auto;
      }
    }
  }
}

.post-category {
  font-size: 0.8rem;
  width: fit-content;
  text-align: center;
  background-color: $color;
  color: $white;
  padding: 4px 8px;
  border-radius: 8px;
}

.container {
  height: 100%;
  display: flex;
  overflow-y: auto;
  // background-color: #c1c1c1;
  .content {
    justify-self: center;
    align-self: center;
    text-align: center;
    flex: 1;
    .progress-image {
      width: 20%;
    }
  }
}

.italic {
  color: $black;
  font-style: italic;
}

.modal-input {
  width: 100%;
  margin-bottom: 16px !important;
}

.mobile-preview {
  position: relative;
  width: 80%;
  height: 80%;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

/* The horizontal line on the top of the device */
.mobile-preview:before {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.mobile-preview:after {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

.mobile-preview .mobile-container {
  width: 100%;
  height: 100%;
  background: white;
  // padding: 2%;
  overflow-y: auto;
  // div[role="presentation"] {
  //   align-items: unset;
  //   padding: 0;
  //   height: 100%;
  //   .node-container:hover,
  //   .node-container.active {
  //     // background-color: $color;
  //     border-radius: 8px;
  //     div,
  //     iframe {
  //       transform: scale(0.95);
  //     }
  //     box-shadow: 0px 0px 4px $red;
  //     cursor: grab;
  //   }
  // }
}
*:hover::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $color;
}
*::-webkit-scrollbar {
  width: 5px;
}
.mobile-container::-webkit-scrollbar {
  width: 5px;
}

.node-container {
  margin: 2%;
  padding: 2% 4%;
  user-select: none;

  .yt-player {
    margin: 6%;
    // margin-bottom: 0;
    width: 88%;
  }
  .para-node {
    overflow: hidden;
    .para-body {
      white-space: pre-wrap;
      margin: 0;
    }
    .para-head {
      font-size: 1.2rem;
      font-weight: bold;
      text-decoration: underline;
    }
  }
  .image-node {
    display: flex;
    justify-content: center;
    flex-direction: column;
    img {
      justify-self: center;
      width: 100%;
      object-fit: scale-down;
    }
    .image-description {
      color: rgba(0, 0, 0, 0.5);
      text-align: center;
      margin: 2%;
      font-size: 0.8rem;
    }
  }
  .url-node {
    background-color: $color;
    padding: 12px;
    border-radius: 8px;
    .url-body {
      color: $white;
      word-wrap: break-word;
      margin: 0;
      font-style: italic;
      text-decoration: underline;
    }
  }
}

.MuiAppBar-colorPrimary {
  background-color: #fff !important;
  color: $black !important;
}
.MuiListItem-button.Mui-selected {
  background-color: #fff !important;
  color: $color !important;
  .MuiListItemIcon-root {
    color: $color !important;
  }
}
.MuiTypography-root {
  font-family: "Montserrat", sans-serif !important;
}
.MuiDivider-root {
  background-color: #fff !important;
  height: 0.2px !important;
  margin: 0 8% !important;
}
.MuiListItemText-root.sidebar-item-text {
  .MuiTypography-root {
    font-family: "Montserrat", cursive !important;
    text-transform: uppercase !important;
    font-size: 0.8rem !important;
  }
}
.MuiListItemText-root.sidebar-role {
  .MuiTypography-root {
    font-family: "Montserrat", cursive !important;
    text-align: center;
    text-transform: uppercase !important;
    font-size: 1.2rem !important;
  }
}
.MuiListItemIcon-root {
  color: #fff !important;
}
